* {
  color: var(--white);
}

.weather {
  border: 2px solid var(--white);
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.icon {
  width: 100%;
  height: auto;
}

.description {
  text-transform: capitalize;
}

.currentWeather .icon {
  width: 50%;
}

.currentWeather {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--white);
}

.currentWeather .info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.currentWeather .temp {
  font-size: 4em;
}

.forecastWeather {
  margin-top: 1.5em;
}

.forecast-cardList {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
}

.forecast-card {
  background-color: var(--lt-primary);
  flex-basis: 25%;
  padding: 1em 0.25em;
  width: 25%;
  text-align: center;
}

.forecast-card .description {
  display: none;
}

