.weather {
  display: grid;
}

/* Top Weather Section */
.weatherTop {
  color: var(--white);
  display: grid;
  grid-template: 1fr 1fr / 2fr 1fr;
  height: auto;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2em;
  position: relative;
  width: 100%;
}

.date {
  grid-row: 1/2;
  grid-column: 1/2;
}

.temp-container {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  grid-template: 1fr 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "currTemp currTemp"
    "minTemp maxTemp"
    "feelsLike feelsLike";
  grid-gap: 1em;
  margin-top: 4em;
  width: 100%;
}

.current-temp {
  grid-area: currTemp;
  font-size: 2em;
}

.min-temp {
  display: flex;
  flex-direction: column;
  grid-area: minTemp;
}

.max-temp {
  display: flex;
  flex-direction: column;
  grid-area: maxTemp;
}

.feelslike-temp {
  grid-area: feelsLike;
}

.description-container {
  grid-row: 2/3;
  grid-column: 1/2;
}

.main {
  font-size: 2em;
}

.description {
  text-transform: capitalize;
}

.icon-container {
  align-self: center;
  grid-row: 1/2;
  grid-column: 2/3;
  position: relative;
}

.icon {
  width: 100%;
  height: auto;
}