* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #FFF;
  --primary: #232E51;
  --lt-primary: #4E577D;
  --dk-primary: #000328;
  --secondary: #FF1F43;
  --lt-secondary: #FF646E;
  --dk-secondary: #C4001C;
}

body {
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
}